[Desktop Entry]
Type=Application
Exec=st
TryExec=/usr/local/bin/st
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=st
GenericName=Terminal
Comment=st is a simple terminal implementation for X
StartupWMClass=st-256color
